In [ ]:
#Практикуюсь
my_integer=5
type (my_integer)

In [2]:
my_float=2.5
type (my_float)

float

In [3]:
my_string='Hellow world'
type (my_string)

str

In [5]:
my_bool=True
type (my_bool)

bool

In [7]:
#преобразование в строку
x=500
print('Ваш выигрыш составил ',x,' рублей')

Ваш выигрыш составил  500  рублей

In [12]:
1000 + int('100')

1100

In [13]:
1+ True

2

In [ ]:
world = 'test'
len (world)

In [5]:
# ДОМАШНЕЕ ЗАДАНИЕ №1
word = 'test'
if len(word) % 2 == 0:
     print (word[int(len(word)/2)-1:int(len(word)/2)+1])
elif len(word) % 2 != 0:
        print(word[int(len(word) / 2)])

es

In [6]:
word = 'testing'
if len(word) % 2 == 0:
     print (word[int(len(word)/2)-1:int(len(word)/2)+1])
elif len(word) % 2 != 0:
        print(word[int(len(word) / 2)])

t

In [10]:
word = 'bananas'
if len(word) % 2 == 0:
     print (word[int(len(word)/2)-1:int(len(word)/2)+1])
elif len(word) % 2 != 0:
        print(word[int(len(word) / 2)])

a

In [8]:
word = 'alphabit'
if len(word) % 2 == 0:
     print (word[int(len(word)/2)-1:int(len(word)/2)+1])
elif len(word) % 2 != 0:
        print(word[int(len(word) / 2)])

ha

In [12]:
#Практикуюсь
spisok= [['Anna', 15], ['Masha', 18], ['Olga', 14], ['Marina', 11], ['Katja', 13]]
spisok [2][1]

14

In [68]:
#Практикуюсь
spisok= [['Anna', 15], ['Masha', 18], ['Olga', 14], ['Marina', 11], ['Katja', 13]]
spisok [2][0]

'Olga'

In [70]:
spisok [2][1] = 12
print (spisok)

[['Anna', 15], ['Masha', 18], ['Olga', 12], ['Marina', 11], ['Katja', 13]]

In [80]:
spisok [0:3]

[['Anna', 15], ['Masha', 18], ['Olga', 12]]

In [82]:
first, *other, last = ('первый','второй','третий','четвертый','пятый','шестой','седьиой')
other

['второй', 'третий', 'четвертый', 'пятый', 'шестой']

In [83]:
first, last

('первый', 'седьиой')

In [91]:
spisok.insert(1,['Dasha',10])
print(spisok)

[['Anna', 15], ['Dasha', 10], ['Masha', 18], ['Vera', 13], ['Vera', 13], ['Vera', 13], ['Olga', 12], ['Vera', 13], ['Vera', 13], ['Marina', 11], ['Katja', 13]]

In [93]:
spisok.count (['Vera',13])

5

In [106]:
#Задание 3
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
sorted (boys)

['Alex', 'Arthur', 'John', 'Peter', 'Richard']

In [101]:
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
sorted (girls)

['Emma', 'Kate', 'Kira', 'Liza', 'Trisha']

In [ ]:
# ДОМАШНЕЕ  ЗАДАНИЕ 3
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard','Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

boys.sort(), girls.sort()
boys_girls = zip(boys,girls)
if len(boys) == len(girls): 
    print('Идеальные пары:')
    for i, name in enumerate(boys_girls):
        print(name[0], 'и', name[1])
else:
    print('Кто-то может остаться без пары')

In [2]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']

boys.sort(), girls.sort()
boys_girls = zip(boys,girls)
if len(boys) == len(girls): 
    print('Идеальные пары:')
    for i, name in enumerate(boys_girls):
        print(name[0], 'и', name[1])
else:
    print('Кто-то может остаться без пары')

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [6]:
#ДОМАШНЕЕ ЗАДАНИЕ №4
countries_temperature = [
    ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
    ['Germany', [57.2, 55.4, 59, 59, 53.6]],
    ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
    ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
print('Средняя температура в странах:')
for i in countries_temperature:
    print(i[0], '-', round((sum(i[1]) / len(i[1]) - 32)*5/9),'C')

Средняя температура в странах:
Thailand - 24 C
Germany - 14 C
Russia - 4 C
Poland - 12 C

In [ ]:
# ДОМАШНЕЕ ЗАДАНИЕ №2 
spisok = []
while True:
    num = int(input("Введите число: ")) 
    if num == 0:
        print("Результат: ")
        print(sum(spisok))
    spisok.append(num)

Введите число: 1
Введите число: 4
Введите число: 6
Введите число: 0
Результат:
11

In [8]:
spisok = ['1','4','6','0'] 
if i != 0:
    print('Введите число:')
    for i in spisok:
        print (i[0])
elif i == 0: 
    for i in spisok:
        print('Результат:')
        print(sum(spisok))

Введите число:
1
4
6
0

In [ ]:
# ДОМАШНЕЕ ЗАДАНИЕ №2 
spisok = []
while True:
    num = int(input("Введите число: ")) 
    if num == 0:
        print("Результат: ")
        print(sum(spisok))
    spisok.append(num)